{% extends "base/base.html" %}

{% block main %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
<div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
            <h1>Welcome to Vaughn's Task App</h1>
            <h2>I like django</h2>
        </div>
    </div>
    <div id="task-sse-element" class="row icon-boxes"
            hx-ext="sse"
            sse-connect="/events">
        {% for task in tasks %}
        <div id="task-{{ task.id }}"
            hx-get="{% url 'task_box_partial' task.id %}"
            hx-swap="outerHTML"
            hx-target="#icon-box-task-wrapper-{{ task.id }}"
            hx-trigger="load, sse:saved-task-{{ task.id }}"
            >
            <div id="icon-box-task-wrapper-{{ task.id }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
<!-- End Hero -->
{% endblock %}
